@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Cores 
#F2F2F2
#BFBFBF
#8C8C8C
#404040
#0D0D0D
#F7F3E7 - Off white
*/

*{
	box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body, html{
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
    background-color: #F7F3E7;
    overflow-x: hidden;
}

.navbar{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #212121;
	color: #f8f8f8;
	
}

.project-title{
	font-size: 1.5rem;
	margin-left: 1rem ;
	margin-top: .4rem;
	margin-bottom: .3rem;

	font-weight: bold;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;
	text-align: center;
}

.navbar-links li a{
	text-decoration: none;
	color: #f8f8f8;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover{
	background-color: gray;
}

.logo{
	display: flex;
	margin: auto;
	justify-content: center;
	justify-self: center;
	transform: scale(1.5);
	padding: 20px;
	transition: .3s;
}

.logo:hover{
	transform: scale(1.7);
}


.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: #f8f8f8;
	border-radius: 10px;
}

.parallax-effect{  
	min-height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;  
	background-image: url("../../img/img_sobre/img_criancada.png");
}

.parallax-effect > h1{
	margin: auto;
	display: flex;
	justify-content: center;
	padding-top: 10vw;
    color: #F2F2F2;
}

.text-sobre {
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: justify;
	max-width: 700px;
	padding: 20px;
}


/* 
.text_sobre {
    margin: auto;
    height: 10rem;
	width: 60rem;
    max-width: 700px;
    font-size: 1.3rem;
    background-color: #F7F3E7;
    text-align: justify;
    padding:15px;
    letter-spacing: 1px;
    padding-left: 30rem;
} 
*/

/* .text_sobre > h1 {
    font-size: 2.7rem;
    padding-top: 4rem;
    text-align: center;
} */

/* .text {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
} */

.img_sobre {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.3));
}   

#img_sobre_tenis{
    width: 15rem;
    margin: auto;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.3));
}

/* Participantes */

#participantes > h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	margin: auto;
	padding: 20px;	
	flex-direction: column;
	justify-content: center;
	margin: auto;
	align-items: center;
	max-width: 700px;
}


.img_profile {
	width: 8rem;
	height: 8rem;
	border-radius: 20rem;
	
}

.about{
	margin: auto;
	text-align: justify;
}

/* Resultado */

#resultado > h1 {
	justify-content: center;
	align-items: center;
	display: flex;
}

.img-resultado {
	width: 24rem;
}

.dados-resultados{
	margin: auto;
	display: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: justify;
}

h3{
	margin: auto;
	text-align: center;
}

/* Responsividade */

@media (max-width: 768px){
	.toggle-button{
		display: flex;
	}
	
	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links{
		display: none;
		width: 100%;
	}

	.navbar-links ul{
		flex-direction: column;
		width: 100%;

	}

	.navbar-links li{
		text-align: center;
	}

	.navbar-links li a{
		padding: .5rem 1rem;
	}

	.navbar-links.active{
		display: flex;
	}
	
	.card{
		flex-direction: column;
		justify-content: center;
		margin: auto;
		align-items: center;
	}

	.parallax-effect > h1{
		padding-top: 25vh;
	}

	.fullsize {
		z-index: 999;
		border: 10px solid black;
		cursor: zoom-out;
		display: block;
		width: 30rem;
		
		

	}

	.dados-resultados{
		padding: 20px;
		text-align: justify;
	}
}