@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Cores 
#F2F2F2
#BFBFBF
#8C8C8C
#404040
#0D0D0D
#F7F3E7 - Off white
*/


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    height: 2.5rem;
    position: fixed;

    background-color: #0D0D0D;
    padding-top: 1.5rem;
    width: 100vw;

    padding-bottom: 0.3rem;
}

#title {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 2.4rem;
    margin-left: 10rem;
    position: absolute;
    bottom: 1rem;
    letter-spacing: 1.5px;
}

#title:hover {
    font-size: 2.5rem;
    transition: 0.6s;
}

.navList {
    list-style: none;
    display: flex;
    gap: 4rem;  
    padding-right: 9rem;
    justify-content: end;
    width: 100vw;


}

.navList > li > a {
    text-decoration: none;
    color: #F2F2F2;
}

.navList > li > a:hover {
    border-bottom: 2px #F2F2F2 solid;
    padding: 6px;
    border-radius: 10px;

    font-size: 1.2rem;
    transition: 0.4s;
}

main > section {
    min-height: 100vh;
}

.img_sportedu {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    left: 55rem;
    bottom: 1.5rem;
}

#sobre {
    background-color: #F7F3E7;
}

#participantes {
    background-color: #F7F3E7;
}

#projeto {
    background-color: lightcoral;
}

/* Main */

/* Sobre */

.text_sobre {

    height: 10rem;
    width: 60rem;
    font-size: 1.3rem;
    background-color: #F7F3E7;
    text-align: justify;
    padding: 6rem;
    letter-spacing: 1px;
    padding-left: 30rem;
    
}

.text_sobre > h1 {
    font-size: 4rem;
    text-align: center;
    
    
}

.text {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

/* Participantes */

#participantes > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 14vh;
}

#participantes > div > h1 {
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: underline;
}

#img_participantes {
    width: 40%;
    margin-left: 34rem;
    margin-top: 0;
    padding-top: 0;
}

.uplist_people {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    gap: 4rem;
    justify-content: center;

    align-items: flex-end;
    height: 10vh;
}