@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Cores 
#F2F2F2
#BFBFBF
#8C8C8C
#404040
#0D0D0D
#F7F3E7 - Off white
*/


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Arvo', serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #F7F3E7;
    overflow-x: hidden;
}

nav {
    display: flex;
    height: 2.5rem;
    position: fixed;
    background-color: #0D0D0D;
    padding-top: 1.5rem;
    width: 100vw;
    padding-bottom: 0.3rem;
}

#title {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 2.4rem;
    margin-left: 10rem;
    position: absolute;
    bottom: 1rem;
    letter-spacing: 1.5px;
}


.navList {
    list-style: none;
    display: flex;
    gap: 4rem;  
    padding-right: 9rem;
    justify-content: end;
    width: 100vw;
}

.navList > li > a {
    text-decoration: none;
    color: #F2F2F2;
}

.navList > li > a:hover {
    border-bottom: 2px #F2F2F2 solid;
    padding: 6px;
    border-radius: 10px;

    font-size: 1.2rem;
    transition: 0.4s;
}

main > section {
    min-height: 100vh;
}

.img_sportedu {
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    left: 55rem;
    bottom: 1.5rem;
}



/* Sobre */

.text_sobre {
    margin: auto;
    height: 10rem;
     /* width: 60rem;  */
    max-width: 700px;
    font-size: 1.3rem;
    background-color: #F7F3E7;
    text-align: justify;
    padding:15px;
    letter-spacing: 1px;
    /* padding-left: 30rem; */
    
}

.text_sobre > h1 {
    font-size: 2.7rem;
    padding-top: 4rem;
    text-align: center;
}

.text {
    /* border-top: 1px black solid; */
    /* border-bottom: 1px black solid; */
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.img_sobre {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;

}   





/* Responsividade */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navList{
        display: none;
    }

    #title{
        margin: auto;
        padding-left: 25vw;
    }
}